// 共通
body {
    font-family: "Noto Sans JP", sans-serif;
}

// 各パーツの色
.body-color {
    background: #f7f7f7;
}

.header-color {
    background: #ededed;
}

.side-color {
    background: #2a3f54;
}

#alert {
    animation: fadeOut 1s forwards;
}

.error-txt {
    padding-top: 5px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(255, 8, 0);
}
